@font-face {
    font-family: 'OpenSans';
    src: url(Fonts/Open_Sans/OpenSans-VariableFont_wdth-wght.ttf);
}
@font-face {
    font-family: 'NotoSans';
    src: url(Fonts/Noto_Sans/NotoSans-VariableFont_wdth-wght.ttf);
}
@font-face {
    font-family: 'Montserrat';
    src: url(Fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}
@font-face {
    font-family: 'SevenSegment';
    src: url(Fonts/SevenSegment.ttf);
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #32a3ff;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  font-family: OpenSans;
}

.cube {
    position: relative;
    width: 70px;
    height: 70px;
    background: #e6e6e6;
    border: 1px solid #bcbcbc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    font-weight: bold;
}


.cube-symbol {
    position: relative;
    z-index: 5;
}

.orientation {
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    color: black;
    z-index: 10;   /* ESTO ERA LO QUE FALTABA */
}

.orientation-top {
    top: 3px;
    left: 50%;
    transform: translateX(-50%);
}

.orientation-right {
    right: 3px;
    top: 50%;
    transform: translateY(-50%);
}

.orientation-bottom {
    bottom: 3px;
    left: 50%;
    transform: translateX(-50%);
}

.orientation-left {
    left: 3px;
    top: 50%;
    transform: translateY(-50%);
}


h1, h2,h3,h4 {
    text-align: center;
    font-family: NotoSans;
}
p {
  font-family: OpenSans;
}


#gameTimer {
    text-align: center;
    font-family: SevenSegment;
}
#HomeGrid {
   display:flex;
   flex-direction:column; 
   gap:20px; 
   max-width:300px;
}
#playersContainer{
    margin-top:20px;
}

.btn {
  font-family: OpenSans;
}

#radioBtn .notActive{
    color: #3276b1;
    background-color: #fff;
}

#board{
    display:grid;
    grid-template-columns:repeat(5, 80px);
    grid-template-rows:repeat(5, 80px);
    gap:4px;
    justify-content: center;

}

#boardReplay{
    display:grid;
    grid-template-columns:repeat(5, 80px);
    grid-template-rows:repeat(5, 80px);
    gap:4px;
    justify-content: center;
}

#CubeLabel{
  border:1px solid #555;
  width:80px;
  height:80px;
  display:flex;
  justify-content:center;
  align-items:center;
  cursor:pointer;
  background:#eee;  
}

@import('https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.0/css/bootstrap.min.css') 

.funkyradio div {
  clear: both;
  overflow: hidden;
}

.funkyradio label {
  width: 100%;
  border-radius: 3px;
  border: 1px solid #D1D3D4;
  font-weight: normal;
}

.funkyradio input[type="radio"]:empty,
.funkyradio input[type="checkbox"]:empty {
  display: none;
}

.funkyradio input[type="radio"]:empty ~ label,
.funkyradio input[type="checkbox"]:empty ~ label {
  position: relative;
  line-height: 2.5em;
  text-indent: 3.25em;
  margin-top: 2em;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.funkyradio input[type="radio"]:empty ~ label:before,
.funkyradio input[type="checkbox"]:empty ~ label:before {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content: '';
  width: 2.5em;
  background: #D1D3D4;
  border-radius: 3px 0 0 3px;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label {
  color: #888;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label:before,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #C2C2C2;
}

.funkyradio input[type="radio"]:checked ~ label,
.funkyradio input[type="checkbox"]:checked ~ label {
  color: #777;
}

.funkyradio input[type="radio"]:checked ~ label:before,
.funkyradio input[type="checkbox"]:checked ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #333;
  background-color: #ccc;
}

.funkyradio input[type="radio"]:focus ~ label:before,
.funkyradio input[type="checkbox"]:focus ~ label:before {
  box-shadow: 0 0 0 3px #999;
}

.funkyradio-default input[type="radio"]:checked ~ label:before,
.funkyradio-default input[type="checkbox"]:checked ~ label:before {
  color: #333;
  background-color: #ccc;
}

.funkyradio-primary input[type="radio"]:checked ~ label:before,
.funkyradio-primary input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #337ab7;
}

.funkyradio-success input[type="radio"]:checked ~ label:before,
.funkyradio-success input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #5cb85c;
}

.funkyradio-danger input[type="radio"]:checked ~ label:before,
.funkyradio-danger input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #d9534f;
}

.funkyradio-warning input[type="radio"]:checked ~ label:before,
.funkyradio-warning input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #f0ad4e;
}

.funkyradio-info input[type="radio"]:checked ~ label:before,
.funkyradio-info input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #5bc0de;
}