
h1 {
    text-align: center;

}
@font-face {
    font-family: 'SevenSegment';
    src: url(SevenSegment.ttf);
}
#gameTimer {
    text-align: center;
    font-family: 'SevenSegment';
}
#HomeGrid {
   display:flex;
   flex-direction:column; 
   gap:20px; 
   max-width:300px;
}