@{
    ViewData["Title"] = "Nueva Partida";
}

<h1>Nueva Partida</h1>

<form method="post">

    <!--div class="form-check">
        <label><input class="form-check-input" type="radio" name="mode" value="1" checked /> Modo 2 jugadores</label> <br />
        <label><input class="form-check-input" type="radio" name="mode" value="2" /> Modo 4 jugadores</label>
    </div-->

    <div class="funkyradio">
        <div class="funkyradio-primary">
            <input type="radio" name="mode" id="radio1" value="1" checked/>
            <label for="radio1">Modo 2 jugadores</label>
        </div>
        <div class="funkyradio-success">
            <input type="radio" name="mode" id="radio2" value="2"/>
            <label for="radio2">Modo 4 jugadores</label>
        </div>    
    </div>

    <div id="playersContainer">
        <h3>Jugadores</h3>

        <div id="mode2">
            <input name="players" class="form-control" placeholder="Jugador 1" required />
            <br />
            <input name="players" class="form-control" placeholder="Jugador 2" required />
            <br />
        </div>

        <div id="mode4" style="display:none;">
            <input name="players" class="form-control" placeholder="Jugador A1" required />
            <br />
            <input name="players" class="form-control" placeholder="Jugador B1" required />
            <br />
            <input name="players" class="form-control" placeholder="Jugador A2" required />
            <br />
            <input name="players" class="form-control" placeholder="Jugador B2" required />
        </div>

    </div>

    <button class="btn btn-success" type="submit" style="margin-top:20px;">Iniciar partida</button>
</form>

<script src="/js/mode.js"></script>
