@{
    ViewData["Title"] = "Inicio";
}

<h1>Quixo en línea</h1>

<hr/>

<h4>Bienvenido! Seleccione la opción que desea consultar</h4>

<br />

<div class="d-flex justify-content-center">
    <a class="btn btn-primary me-2" href="/Games/New">Jugar una partida nueva</a>
    <a class="btn btn-secondary me-2" href="/Games/Finished">Mostrar y exportar una partida finalizada</a>
    <a class="btn btn-success me-2" href="/Stats/Index">Mostrar estadísticas</a>
</div>
