@{
    ViewData["Title"] = "Inicio";
}

<h1>Proyecto Quixo</h1>

<div style="display:flex; flex-direction:column; gap:20px; max-width:300px;">
    <a class="btn btn-primary" href="/Games/New">Jugar una partida nueva</a>
    <a class="btn btn-secondary" href="/Games/Finished">Mostrar y exportar una partida finalizada</a>
    <a class="btn btn-info" href="/Stats/Index">Mostrar estadísticas</a>
</div>
