body {
    background-color: rgb(247, 250, 234);
}
h1 {
    text-align: center;
}
@font-face {
    font-family: 'SevenSegment';
    src: url(SevenSegment.ttf);
}
#gameTimer {
    text-align: center;
    font-family: 'SevenSegment';
}